
html
{
	font-family: 'calibri'; 
	background-attachment: fixed;
	height: 100%;
}

body 
{
  	height:100%;
  	margin: 0;
  	padding: 0;
  	position: static;
}

header
{
	height:100vh;

    background-size: cover;
	background-position: center;
}

footer 
{
	position: absolute; 
	bottom: 0; 
	left: 0;
	right: 0;
}

#LogoSite
{
	position: revert;
	top: 2em;
	left: 1em;
	width: 500px;
}

.inline li
{
	display: inline;
}

#LogoHome
{
	width:70px;
	height: 100px;
	float: left;
}

.logoMenu
{
	width:10px;
	height: 10px;
}

.menu
{
	display: flex;
	justify-content: space-around;
}

#menuPrincipal li
{
	position: relative;
	top: 2.3em;
	left: 0.5em;
	padding-left: 2em;
}

#menuPrincipal a
{
	color: #2B3087;
}

#menuPrincipal a:hover span
{
	text-decoration: underline;
}

#menuAuthentification li
{
	position: center;
	border: 0.40em solid #2B3087;
	border-radius: 0.7em;
	text-align: left;
	transition: 0.6s;
	transform: translate(-50%,50%);
}

#connect
{
	color: #2B3087;

}

#connect:hover
{
	text-decoration: none;
	transition: 0.6s ease;
	background-color: #2B3087 ;
	color: #8BACED;


}

#inscription
{
	background-color: #2B3087;
	color: #8BACED;
}
#inscription a {
	content: '';
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: inherit;
	transition:.5s;

}

#inscription:hover{
	background-color: ;
}


#menuPrincipal a,#menuAuthentification a
{
	text-decoration: none;
}

.centerLogo
{
	position: relative;
	bottom: 0.25em;
}

.Footer
{
	width: 100%;
	background-color: rgb(139,172,237,0.3);
	border-top: 0.1em solid #8BACED;
	display: flex;
	justify-content: space-around;
}

#menuFooter li
{
	padding-left: 2em;
}

.linkFooter
{
	color: #2B3087;
	text-decoration: none;
}
.linkFooter:hover
{
	color: #8BACED;
	text-decoration: underline;
}



#PresentationMedisys
{
	text-align: center;
}