*{
    margin: 0;
    padding: 0;
}

body{
    font-family: arial;
    font-size: 17px;
    color:blue;

}
#pdg{
    background-image:url("https://images.pexels.com/photos/47044/aircraft-landing-reach-injection-47044.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-position: center;
    background-size: cover;

}