label {
  display: block;
  margin: 5px 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html
{
	font-family: "calibri","Times New Roman", Times, "Liberation Serif", FreeSerif, serif; 
	background-attachment: fixed;
	height: 100%;
}

body 
{
	display: block;
  	height:100%;
  	margin: 0;
  	padding: 0;
  	position: relative;
}

header
{
	height: 100px;
	background-color: rgb(139,172,237,0.7);
	border-bottom: solid rgb(166, 196, 255);
}

footer 
{
	position: absolute; 
	bottom: 0; 
	left: 0;
	right: 0;
}

#LogoSite
{
	position: relative;
	top: 0.7em;
	left: 1em;
}

.inline li
{
	display: inline;
}

#LogoHome
{
	width: 80px;
	height: 80px;
	float: left;
}

#LogoProfile
{
	width: 60px;
	height: 60px;
	float: right;
}

.logoMenu
{
	width: 20px;
	height: 20px;
}

.menu
{
	display: flex;
	justify-content: space-around;
}


#menuPrincipal li
{
	position: relative;
	top: 1.3em;
	left: 0.5em;
	padding-left: 2em;
}

#menuPrincipal a
{
	color: #2B3087;
}

#menuPrincipal a:hover span
{
	color: rgb(245, 245, 245);
	text-decoration: underline;
}

#menuAuthentification li
{
	position: relative;
	top: 1.3em;
	left: 2em;
	padding: 0.55em;
	border: 0.15em solid #2B3087;
	border-radius: 0.6em;
	text-align: center;
}

#connect
{
	color: #2B3087;
}

#connect:hover
{
	text-decoration: underline;
}

#inscription
{
	background-color: #2B3087;
	color: #8BACED;
}

#inscription:hover		
{
	background-color: #8BACED;
	color: #2B3087;
	text-decoration: underline;
}

#menuPrincipal a,#menuAuthentification a
{
	text-decoration: none;
}

.centerLogo
{
	position: relative;
	bottom: 0.25em;
}

.Footer
{
	width: 100%;
	background-color: rgb(139,172,237,0.3);
	border-top: 0.1em solid #8BACED;
	display: flex;
	justify-content: space-around;
}

#menuFooter li
{
	padding-left: 2em;
}

.linkFooter
{
	color: #2B3087;
	text-decoration: none;
}
.linkFooter:hover
{
	color: rgb(245, 245, 245);
	text-decoration: underline;
}



/*mise en page qui sommes nous */

.ourTeam{
	margin-top: 0.5em;
	text-align: center;
	margin-bottom: 1em;
	font-size: 2.5em;
}

.underline{
	margin-top: 1em;
		background			  : transparent;
	 border-color			  :  #8BACED;
	 border-width			  : 0 0 3px;
	 border-style			  : solid;
	 
}

.ourPhotos
{
	margin-left: 14em;
	margin-right: 14em;
	margin-top: 2em;
	display: flex;
	justify-content: space-around;
}

.ourPhotos img,figcaption
{
	width: 7em;
	height: 10.5em;
	text-align: center;
	font-size: 1em;
}

#PresentationMedisys
{
	margin-top: 3em;
	margin-left: 5.4em;
	margin-right: 5.4em;
	position: relative;
	bottom :8em;
	font-size: 1.5em;
}

/*fin de mise en page qui sommes nous*/

/*mise en page info systeme*/

#infoSysTitle{
	margin-top: 0.5em;
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 1em;
}

#informationsystèmes{
	margin-left:5.4em;
	font-size: 1.3em;
}

/* fin de mise en page info systeme*/

/* mise en page messagerie */

.chat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding-top: 5px;
	padding-left: 5px;
	width: 100%;
	height: 100%;
	padding-right: 5px;
	padding-top: 0;
}

.messages {
	
  	
  	border-radius: 5px;
  	border: solid;
  	padding: 1em;
  	height: 100%;
  	overflow: scroll;

}

.message {
  color: black;
  padding: 0.3em;
}

.date, .author {
  font-weight: bold;
}


input, button {
  padding: 0.5em;
}

input {
  margin-right: 10px;
}

#author {
  width: 20%;
}

#content {
  width: 90%;
}

button[type="submit"]{
  width: 20%;
}


#formMessagerie {
	position: fixed;
	bottom: 5px; 
	left: 5px;
	right:5px;
	display: flex;
	justify-content: flex-start;


}

.divChat {
	display: flex;
	height: 100%;
	width: 75%;
	margin-bottom: 40px;
}

.messagerie{
	display: flex;
	height: 70%;
	flex-direction: row;
	margin-bottom: 40px;
}

.conversations{
	overflow: scroll;
	width: 25%;
	margin-right: 5px;
	border-style: groove;
	
}

.barreRechercheMessagerie{
	display: flex;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.champRechercheMessagerie{
	width: 20em; 
	justify-content: center;
}

#PrenomNomCorresp, #dernierMessage{
	text-align: center;
}


.listeContacts {
	border-style: groove;
}

.linksMessenger a{
	display: block;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
}

.linksMessenger a:visited{
	text-decoration: none;
	color: black;
}

.linksMessenger a:hover{
	background-color: #F2F2F2;
	cursor: default;
}

.linksMessenger label{
	margin: 0;
}




/* fin de mise en page messagerie */



/*mise en page profil*/

#photoProfil{
	width: 7.5em;
	height: 10em;
}

.linkProfil {
	padding: 0.3em;
	border: 1px solid #8BACED;
	border-radius: 0.2em;
	background-color: #8BACED;
	text-decoration: none;
	color: white;
}

.linkProfil:hover {
	padding: 0.3em;
	border: 1.5px solid #8BACED;
	border-radius: 0.2em;
	background-color: white;
	text-decoration: underline;
	color: #8BACED;
}

/*fin mise en page profil*/



/* mise en page formulaire sur plusieurs colonnes (édition de profil)*/
.formulaireColonnes{
	display: block;
}

.colonne1{
	float: left;
	position: relative;
	left: 3em;
}

.colonne2{
	float: middle;
	position: relative;
	left: 15em;
	top: 1.3em;
}

.colonne3{
	float: right;
	position: relative;
	bottom: 18.5em;
	right: 2em;
}

#endEdition {
	display: inline;
	position: relative;
	top: 8em;
	left: 23em;
}

.linkEdProfil {
	padding: 0.3em;
	border: 1px solid #8BACED;
	border-radius: 0.2em;
	background-color: #8BACED;
	text-decoration: none;
	color: white;
	position: relative;
	top: 8.5em;
	left: 48em;
}

.linkEdProfil:hover {
	padding: 0.3em;
	border: 1.5px solid #8BACED;
	border-radius: 0.2em;
	background-color: white;
	text-decoration: underline;
	color: #8BACED;
	position: relative;
	top: 8.5em;
	left: 48em;
}

/* fin mise en page formulaire edition de profil


/*mise en page listes des résultats et résultats*/

.title {
	position: relative;
	left: 0.7em;
}

.underTitle {
	position: relative;
	bottom: 1.4em;
	left: 1.6em;
}

#listTests {
	position: relative;
	left: 2em;
	color: black;
	text-decoration: none;
}

#listTests:hover {
	position: relative;
	left: 2em;
	color: #2B3087;
	font-weight: bold;
}

.tableau {
	border-collapse: collapse;
	position: relative;
	position: relative;
	left: 32em;
	bottom: 5em;
}

.tableau caption {
	caption-side: bottom;
	font-weight: bold;
}

.bordureTableau td , .bordureTableau th {
	border : 1px solid black;
	text-align : center;
}

.bordureTableau th {
	padding-left : 0.5em; 
	padding-right: 0.5em;
}

#noResult {
	position: relative;
	top: 4em;
	left: 35em;
}

#graph {
	height: 20vh;
	width: 50vw;
	position: relative;
	bottom: 11em;
	left: 36em;
}

#listResults li {
	position: relative;
	top: 3em;
	left: 2em;
}

.linkBack {
	position: absolute;
	left: 1.5em;
	bottom: 4em;
	padding: 0.3em;
	border: 1px solid #8BACED;
	border-radius: 0.2em;
	background-color: #8BACED;
	text-decoration: none;
	color: white;
}

.linkBack:hover {
	position: absolute;
	left: 1.5em;
	bottom: 4em;
	padding: 0.3em;
	border: 1.5px solid #8BACED;
	border-radius: 0.2em;
	background-color: white;
	text-decoration: underline;
	color: #8BACED;
}



/*fin mise en page liste résultats et résultats*/

/* CSS FORUM*/

.titretopic input{
	width: 50%;
	padding: 15px;
	border-radius: 50px;
	flex: 50px;
	text-align: center;


}
.titretopic input,.questiontopic button,.questiontopic textarea,.creersujet a, .tableforum table,.participerdiscussion{
	margin-left: 50%;
	transform: translateX(-50%);
}
.boutonparticiper button{
	margin-left: 43%;
	transform: translateX(-50%);
	background-color: #5b7e88;
}
.creersujet a{
	display: block;
	text-decoration: #474e87;
	background-color:#6495ED;
	padding:9px;
	border:2px solid;
	border-radius: 35em;
	width: 41%;
	text-align: center;

}
.questiontopic textarea,.participerdiscussion textarea{
	overflow: auto;
	outline: none;
	border: 10px solid #444a88;
	resize:inherit;
	width: 70%;
	text-align: center;
	box-shadow: 0 1px 0 0 #6f7188;
	border-radius: 30px;
}

.questiontopic button,.boutonparticiper button {
	background-color: #858baf; /* blue */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 15px;
	flex: 50px;
	transition-duration: 0.6s;
}

 .bodyForum button:hover, .bodyForum a:hover{
	background-color: #333787;
	color: #5b7e88;
}

.tableforum table {
	border: 4px solid black;
	border-radius: 95em;
	font: 1em "Open Sans", "Fira Code Light", "Fira Code Retina", sans-serif;
}
.tableforum td,th {
	border: 1px solid black;
	padding: 5px 100px;
	border-radius: 15em;
}
/* fin css forum*/

/*css faq*/

.titre{
	text-align: center;
	font-size: 2.5em;
}

.faq_items li{
	text-align: center;
	list-style-type: none;
	margin-bottom: 2em;
}

.faq_items #faqQues{
	font-size: 1.3em;
}
/*fin css faq*/

/* css mentions légales */

.footerTitle{
	margin-left:2.65em;
	font-size: 2em;
}

#mentionslegales{
	margin-left:5.4em;
	margin-right: 5.4em;
	font-size: 1em;
}

/*fin css mentions légales*/

/*css CGU Titre en commun avec mentions légales*/
.textCGU{
	margin-left:5.4em;
	margin-right: 5.4em;
	font-size: 0.95em;
}

/*fin du css CGU Titre en commun avec mentions légales*/

/*css page connect*/
.entireCo{
	text-align:center;
}

.titleCo{
	font-size: 2.5em;
}

.formCo{
	margin-top: 2em;
}

.formCo #remembercheckbox{
	content: '';
	left: 0;
	top: 0;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid #aaa;
	background: #FFF;
	border-radius: .2em;
	box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
	transition: all .275s;
}

/* fin de css connect

/*css inscritpion*/

.createTitle{
	text-align:center;
	font-size: 2.5em;
}

.formCreate{
	margin-left: 5.4em;
}

.firstPart{
	width: 40%;
	float: left;
	margin-left: 15em;
	font-size: 1.2em;
}

.secondPart{
	margin-top: 2em;
	font-size: 1.3em;
}

/* fin du css inscritpion*/