label {
  display: block;
  margin: 5px 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html
{
	font-family: 'calibri'; 
	background-attachment: fixed;
	height: 100%;
}

body 
{
  	height:100%;
  	margin: 0;
  	padding: 0;
  	position: static;

}
	


header
{
	height: 100px;
	background-color: #8BACED; 
	position: static;
}

footer 
{
	position: absolute; 
	bottom: 0; 
	left: 0;
	right: 0;
}


#LogoSite
{
	position: relative;
	top: 0.7em;
	left: 1em;
}

.inline li
{
	display: inline;
}

#LogoHome
{
	width: 80px;
	height: 80px;
	float: left;
}

.logoMenu
{
	width: 20px;
	height: 20px;
}


.menu
{
	display: flex;
	justify-content: space-around;
}

#menuPrincipal li
{
	position: relative;
	top: 1.3em;
	left: 0.5em;
	padding-left: 2em;
}

#menuPrincipal a
{
	color: #2B3087;
}

#menuPrincipal a:hover span
{
	text-decoration: underline;
}

#menuAuthentification li
{
	position: relative;
	top: 1.3em;
	left: 2em;
	padding: 0.55em;
	border: 0.15em solid #2B3087;
	border-radius: 0.6em;
	text-align: center;
}

#connect
{
	color: #2B3087;
}

#connect:hover
{
	text-decoration: underline;
}

#inscription
{
	background-color: #2B3087;
	color: #8BACED;
}

#inscription:hover		
{
	background-color: #8BACED;
	color: #2B3087;
	text-decoration: underline;
}

#menuPrincipal a,#menuAuthentification a
{
	text-decoration: none;
}

.centerLogo
{
	position: relative;
	bottom: 0.25em;
}

.Footer
{
	width: 100%;
	background-color: rgb(139,172,237,0.3);
	border-top: 0.1em solid #8BACED;
	display: flex;
	justify-content: space-around;
}

#menuFooter li
{
	padding-left: 2em;
}

.linkFooter
{
	color: #2B3087;
	text-decoration: none;
}
.linkFooter:hover
{
	color: #8BACED;
	text-decoration: underline;
}

.ourPhotos
{
	margin-left: 14em;
	margin-right: 14em;
	margin-top: 3em;
	display: flex;
	justify-content: space-around;
}

.ourPhotos img,figcaption
{
	width: 7em;
	height: 10.5em;
	text-align: center;
}

#PresentationMedisys
{
	text-align: center;
}




